body {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
}
h1{
    margin-top: 10%;
    font-size: 8vh;
    font-family: 'Roboto', sans-serif;
    color: #311C43
}
@media screen and (max-width: 600px) {
    h1 {
      font-size: 40px;
    }
  }

.criteria-text{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 600px) {
    .criteria-text {
      font-size: 30px;
    }
  }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
@media screen and (max-width: 600px) {
    .container {
      height: auto;
    }
  }
.child{
    flex: 1;
    text-align: center;
    background-color: #1A1E41;
    flex-direction: column;
    color: white;
    width: 700px;
    border-radius: 10px;
    padding: 30px 50px;
    box-shadow: 0 10px 25px #311C43;
    margin-bottom: 20px;
    font-size: 20px;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    .child {
    width:auto;
    border-radius: 10px;
    padding:10px 20px;
    margin-bottom: 20px;
    font-size: 10px;
    }
}
.passwordbox{
    text-align: center;
    background-color: #1A1E41;
    color: rgba(255, 255, 255, 0.699);
    width: 700px;
    border-radius: 10px;
    padding: 30px 50px;
    box-shadow: 0 10px 25px #311C43;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
    .passwordbox {
    width:auto;
    border-radius: 10px;
    padding:10px 20px;
    margin-bottom: 20px;
    font-size: 10px;
    }
}

.passwordresult{
    display:flex;
    flex-direction: column;
    padding: 50px;
}

.btn-selector {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #824caf;
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px #311C43;;
    margin-bottom: 15px;
  }
  
.btn-selector:hover {
    background-color: #563e8e;
}
  
.btn-selector:active {
    background-color: #673e8e;
    box-shadow: 0 5px #200936;
    transform: translateY(4px);
}

#pwdlength-spacebetweenelements, #chboxuppercase, #chboxlowercase, #chboxnumbers, #chboxsymbols {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

@media screen and (max-width: 600px){
    #pwdlength, #chboxuppercase, #chboxuppercase, #chboxlowercase, #chboxnumbers, #chboxsymbols {
    font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    input[type="checkbox"] {
    height: 50px;
    width: 50px;
    }
}
input[type="checkbox"] {
    height: 25px;
    width: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

input[type=number], select {
    width:30%;
    padding: 6px 10px;
    margin: 8px 0;
    margin-left: 47.5%;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    input[type="number"], select {
        margin-left: 33%;
    }
}
@media screen and (max-width: 600px) {
    ::placeholder {
        font-size: 11px;
    }
}
#tooltip {
    position: relative;
}

#tooltip:hover::after {
    content: attr(data-title);
    padding: 5px;
    width: 50px;
    border: 1px solid #000;
    position: absolute;
    top: 5px;
    left: 5px;
    background: white;
    color: black;
}

.hidden{
    visibility: hidden;
}

#errormsg{
    color: red;
    font-family: 'Roboto', sans-serif;
}